![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [106]:
# Import necessary packages
import pandas as pd
import numpy as np

# Files
price_data       = pd.read_csv('data/airbnb_price.csv')
last_review_data = pd.read_csv('data/airbnb_last_review.tsv', delimiter='\t')
room_type_data   = pd.read_excel('data/airbnb_room_type.xlsx')

What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [118]:
# Convert 'last_review' to datetime, get the earliest review date, and convert it into a DataFrame
first_reviewed_value = pd.to_datetime(last_review_data['last_review']).min()

# Convert to a DataFrame
first_reviewed_df = pd.DataFrame({'first_reviewed': [first_reviewed_value]})

# Display the DataFrame
first_reviewed_df.head()

  first_reviewed
0     2019-01-01

In [120]:
# Convert 'last_review' to datetime, get the latest review date, and convert it into a DataFrame
last_reviewed_value = pd.to_datetime(last_review_data['last_review']).max()

# Convert to a DataFrame
last_reviewed_df = pd.DataFrame({'last_reviewed': [last_reviewed_value]})

# Display the DataFrame
last_reviewed_df.head()

  last_reviewed
0    2019-07-09

How many of the listings are private rooms? Save this into any variable.

In [122]:
# Normalize, count the occurrences of 'private room', and convert to a DataFrame
nb_private_rooms_df = pd.DataFrame({'nb_private_rooms': [(room_type_data['room_type'].str.lower() == 'private room').sum()]})

# Display the DataFrame
nb_private_rooms_df.head()

   nb_private_rooms
0             11356

What is the average listing price? Round to the nearest two decimal places and save into a variable.

In [125]:
# Calculate the average price, remove 'dollars', convert to float, round, and convert to a DataFrame
avg_price_df = pd.DataFrame({'avg_price': [price_data['price'].str.replace('dollars', '').astype(float).mean().round(2)]})

# Display the DataFrame
avg_price_df.head()

   avg_price
0     141.78

Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [126]:
# Concatenate all DataFrames into one row
review_dates = pd.concat([first_reviewed_df, last_reviewed_df, nb_private_rooms_df, avg_price_df], axis=1)

# Display the final DataFrame
review_dates.head()

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78